nav{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding: 1rem;
    background-color: transparent;
    position: fixed;
    /* top: 0; */
    z-index: 10;
    width: 100%;
    margin-top: 20px;
}
ul li{
    display: inline;
    padding: 0 1rem;
    list-style: none;
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
}
.navbar{
    justify-content: center;
    align-self: center;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}

@media(max-width:640px){
    nav{
        display: flex;
        justify-content: center;
        width: 450px;
    }
    .navbar{
        display: flex;
        justify-content: space-around;
        align-self: center;
        align-items: center;
        /* padding: 1.2rem;
        width: 450px; */
    }
    .navbar ul li{
        padding: 5px;
    }
}