.About{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 9rem 10rem 6rem 15rem;
    background-color: #1F1F38;
    gap: 1rem;
}

.profile img{
    /* border-radius: 20px 70px; */
    border-radius: 50%;
}

.intro{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    color: #fff;
}
.intro h2{
    font-size: 1.5rem;
    font-weight: 600;
}
.intro h4{
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 10px;
}
.intro p{
    font-size: 1.3rem;
    font-weight: 300;
}
.intro .hidden{
    display: none;
}

@media (max-width:640px){
    .About{
        display: flex;
        flex-direction: column;
        padding: 8rem 2rem 3rem 2rem;
        background: #fff;
        color: #000;
    }
    .intro{
        display: flex;
        color: #000;
    }
    .intro .show{
        display: none;
    }
    .intro .hidden{
        display: flex;
    }
    .profile img{
        width: 200px;
        height: auto;
    }
}